html,body {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left-side {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    background-color: #494368;
    gap: 20px;
}
.right-side{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #CEEC97;
}

.etch-a-sketch{
    border: 20px solid #FCB5B5;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    background-color: #6290C8;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.etch-block {
    background-color: white;
    border: 1px solid black;
    width: calc(100%/16);
    height: calc(100%/16);
    box-sizing: border-box;
}
.hover {
    background-color: black;
}

img {
    max-width: 100%;
    height: auto;
  }